@font-face {
  font-family:"DKNew";
  src: url(DK\ New\ Beginnings.otf);
}

@font-face {
  font-family: "Stanberry";
  src: url(Stanberry.ttf);
}

@font-face {
  font-family: "Kidos";
  src: url(KIdDOS-Regular.ttf);
}

body{
  margin: 0;
  background-color:#FAFAF8;
}

header{
  grid-area: header;
  text-align: center;
  background-color: rgb(250, 240, 230);
  line-height: 10px;
  margin-bottom: 0;

}

header h1{
  font-family:DKNew, sans-serif;
  color: brown;
  font-size: 60px;
  font-style: initial;
  margin-top: 50px;
  
}

header p{
  font-family: Stanberry, sans-serif;
  color:rgb(125, 123, 123);
  margin-bottom: 25px;

}

main{
  grid-area: main;
  text-align: center;
  padding-left:10px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 90px;
  background-color: rgb(255, 255, 255);
  background-clip: content-box;
}

main p{
  margin-left: 40px;
  font-family: Stanberry, sans-serif;
  text-align: justify;
  opacity: 100%;
  line-height: 20px;
  padding-right: 60px;
}

sidebar{
  grid-area: sidebar;
  text-align: center;
  padding: 70px;
}

footer{
  grid-area: footer;
  margin-top: -50px;
  margin-bottom: 20px;
  border-top: rgb(227, 168, 161);
  border-bottom: rgb(227, 168, 161);
  border-style: dotted;
  border-left: 0ch;
  border-right: 0ch;
  background-image:url(https://2.bp.blogspot.com/-xf7fGR3f9ys/W3aa_K5NmII/AAAAAAABN9g/tnp_NkYJd1YKJWFxtbaSzcsm9eNcnk-ZgCLcBGAs/s600/bg_kaitenzushi_empty.jpg);
  background-repeat: repeat-x;
  /* set the conveyor belt image as the background so that sushi plates can be placed on it later on */
}

ul.assignment{
  list-style-type: none;
}

ul li{
  display: inline;
/* to place the links in a horizontal direction */
  padding: 65px;
  background-image: url(https://1.bp.blogspot.com/-od_WBQN302I/X1CLKeS4IBI/AAAAAAABa3A/KN7O07sXQMIpNPnpldkA2hEK-PoTzrGzQCNcBGAsYHQ/s1600/sushi_kaiten_sara4_check_red.png);
  background-size: 105px;
  background-position-y: -5px;
  background-position-x:70px;
  background-repeat: no-repeat;
  position: relative;

}

ul li img{
  height: 100px;
}
/* to set the height of all the icon image for assignment links so that they fit in with the background */

button.assignment{
  position: absolute;
  left: 102px;
  top: 80px;
  height: 20px;
  background-color: rgb(155, 188, 98);

}

ul li img:hover{
  opacity: 0;
/* to make the icons disappear */
}

.go-top{
  position: fixed;
  bottom:70px;	
  right: 20px;		
}

.go-top a {
  display: block;	
  font-family: Stanberry, sans-serif;
  font-size: small;
  text-align: center;
  text-decoration: none;		
  color: rgb(255, 255, 255);			
  background-image: url(https://3.bp.blogspot.com/-x-e-VLrvzZ0/WQvvRqpNvVI/AAAAAAABEGI/I-yUkeN4pfIYXuAX3985tPdItmI4KvbJQCLcB/s180-c/sushi_makisu.png);	
  background-size: contain;	
  background-repeat: no-repeat;
  background-position: center;
  border: none;		
  padding: 10px 10px;			
  border-radius:5px;				
}

.ins {
  position: fixed;
  bottom: 72px;	
  right: 75px;	
}

.ins a {
  display: block;	
  block-size: 15px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg);	
  background-size: cover;	
  background-repeat: no-repeat;
  background-position: center;
  border: none;		
  padding: 10px 18px;			
  border-radius:10px;				
}

.github {
  position: fixed;
  right: 115px;	
  bottom: 72px;	
}

.github a {
  display: block;	
  block-size: 15px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg);	
  background-size: cover;	
  background-repeat: no-repeat;
  background-position: center;
  border: none;		
  padding: 10px 18px;			
  border-radius:10px;				
}

